section{
    padding: 50px 20px;
    color: $primary_color;
}
#jumbotron{
    .container{
        display: flex;
        align-items: center;
    }
    .jumbo-left{
        float: left;
        width: 50%;
        h1{
            font-size: 40px;
        }
        p{
            font-weight: bold;
        }
    }
    .jumbo-right{
        float: left;
        width: 50%;
        img{
            width: 470px;
        }
    }
}

#domande{
    padding: 0;
    display: flex;
    align-items: stretch;
    
    h2{
        margin-bottom: 40px;
    }
    .corso{
        padding: 50px 60px;
        width: 50%;
        font-weight: bold;
    }
    .prima{
        background-color: $secondary_background;
    }
    .dopo{
        background-color: $primary_color;
        color: #fff;
    }
    .domanda{
        font-size: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .risposta{
        font-weight: normal;
        display: none;
    }
}

.active{
    display: block !important;
}
